body {
  background: var(--gray, #edeaea);
  background-image: none;
}
.container {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: var(--gray, #edeaea);
}
.title{
  font-size: 30px;
  text-decoration: solid;
  margin-top: 1%;
  margin-bottom: -2.5%;
  margin-left: -50%;
  color: #922c94;
}
.output-buttons{
display: flex;
justify-content: space-between;
margin-left: 30%;
margin-right: 60pt;
}
.all-cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 45px;
  align-items: center;
  background: var(--gray, #edeaea);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.output-field-wrapper {
  margin-right: 20px;
  max-height: 175px;
  justify-content: flex-end;
  align-items: flex-end;
}

.features-card-wrapper {
  margin-right: 20px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.download-review-wrapper {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}