@import url(https://fonts.googleapis.com/css?family=Poiret+One|Lobster|Anton|Shadows+Into+Light|Open+Sans|Roboto|Orbitron|Oswald|Raleway|Montserrat|Roboto+Slab|Indie+Flower|Fjalla+One|Bree+Serif|Pacifico|Abril+Fatface);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-height: 100vh;
    background: white;
    margin-top: 10pt;
    min-height: 50vh;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    align-items: center;
    background: white;
    margin-top: -150px;
}

.features-card-wrapper {
    margin-right: 20px;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: none;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}


/**/
.features-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.features-card {
    display: flex;
    width: 350px;
    height: 350px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    border: 5px solid var(--purple, rgba(146, 44, 148, 1));
    cursor: pointer;
    margin-top: 70pt;
    
}
.features-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.image-container {
    width: 300px;
    height: 200px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50pt;
}
    
.caption {
    font-family: Itim;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 40px;
    color: rgba(146, 44, 148, 1);
}

/* Responsive styles */
/* lab 1024 */
@media (max-width: 1024px) {
.features-card {
    width: 325px;
    height: 350px;
    gap: 15px;
    margin-top: 60pt;
}
.image-container {
    width: 300px;
    height: 200px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50pt;
}
.caption {
    font-size:40px;
}
}

/* tablet */
@media (max-width: 768px) {
    .all-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        align-items: center;
        background: white;
        margin-top: -150px;
    }
    .features-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 280px;
        gap: 5px;
        margin-top: 40pt;
    }
    .image-container {
        width: 250px;
        height: 180px;
    }
    
    .image-container img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 50pt;
    }
    .caption {
        font-size: 30px;
    }
}

/* mobile 425 */
@media (max-width: 425px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 100px;
        margin-left: 20px;
        min-height: 50vh;
        background: white;
    }
    
    .all-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        background: white;
        margin-top: -150px;
    }
    
    .features-card-wrapper {
        align-self: center;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        display: none;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    /**/
    .features-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    
    .features-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 300px;
        padding: 20px 0px;
        gap: 20px;
        border-radius: 50px;
        border: 5px solid var(--purple, rgba(146, 44, 148, 1));
        cursor: pointer;
        margin-top: 70pt;
    }
    .features-card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }
    
    .image-container {
        width: 230px;
        height: 200px;
    }
    
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50pt;
    }
        
    .caption {
        font-family: Itim;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 40px;
        color: rgba(146, 44, 148, 1);
    }
    
}
@media (max-width: 375px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 100px;
        margin-left: 80px;
        min-height: 50vh;
        background: white;
    }
}
@media (max-width: 320px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 100px;
        margin-left: 90px;
        min-height: 50vh;
        background: white;
    }
}