body {
    background:#fff;
    background-image: none;
  }
  .container {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #fff;
  }
  
  .all-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 45px;
    align-items: center;
    background: var(--gray, #edeaea);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .output-field-wrapper {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .summarize-card {
    margin-right: 20px;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .download-review-wrapper {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }